site_name: ✨Starfleet✨
site_url: https://gemini-oss.github.io/starfleet/
repo_url: https://github.com/gemini-oss/starfleet
docs_dir: mkdocs
copyright: Copyright &copy; 2023 - <a href="https://gemini.com/careers">Gemini Trust Company, LLC</a><br/>See the <a href="https://gemini-oss.github.io/starfleet/Attributions">attributions page</a> for additional copyrights.
theme:
  name: material
  font:
    text: Inter
  logo: logo_files/Logo.png
  favicon: logo_files/chmmr.png
  palette:
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: black
      accent: blue
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: black
      accent: blue
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

  features:
    - navigation.sections
    - navigation.footer
    - navigation.tabs
    - content.code.copy

plugins:
  - search
  - gen-files:
      scripts:
        - mkdocs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      toc_depth: 3
      permalink: true
  - attr_list

extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/gemini-oss

nav:
  - Home: index.md
  - Architecture:
    - Architecture Overview: architecture/Overview.md
    - Worker Ships: architecture/WorkerShips.md
    - Configuration: architecture/Configuration.md
    - Payload Templates: architecture/PayloadTemplates.md
    - Account Index: architecture/AccountIndex.md
    - Resident IAM Role: architecture/ResidentIAMRole.md
    - Starbase: architecture/Starbase.md
    - CLI: architecture/CLI.md
    - Secrets Management: architecture/Secrets.md
    - Alerts & Notifications: architecture/Alerts.md
  - Installation Guide:
    - Installation Overview: installation/Overview.md
    - Set up IAM: installation/IAM.md
    - Prepare Configuration: installation/PrepareConfiguration.md
    - Prepare Payload Templates: installation/PreparePayload.md
    - Run AWS SAM: installation/RunSAM.md
    - Make the Account Index: installation/MakeAccountIndex.md
    - Wrapping Up: installation/WrapUp.md
  - User Guide:
    - Overview: userGuide/Overview.md
    - Payload Templates: userGuide/PayloadTemplates.md
    - Starbase: userGuide/Starbase.md
    - Secrets Manager: userGuide/Secrets.md
    - Slack Alerts: userGuide/Slack.md
    - Account Index Generator:
      - Overview: userGuide/AccountIndexGenerator.md
    - AWS Config Worker:
      - Overview: userGuide/awsConfig/AWSConfigWorker.md
      - Installation: userGuide/awsConfig/Installation.md
      - Payload Templates: userGuide/awsConfig/Template.md
      - CLI: userGuide/awsConfig/CLI.md
    - GitHub Repo Sync Worker:
      - Overview: userGuide/GitHubSync/Overview.md
      - GitHub App Configuration: userGuide/GitHubSync/ConfigureGitHubApp.md
      - Installation and Configuration: userGuide/GitHubSync/InstallationAndConfiguration.md
      - Payload Templates: userGuide/GitHubSync/Template.md
      - CLI: userGuide/GitHubSync/CLI.md
  - Developer Guide:
    - Developer Overview: developerGuide/Overview.md
    - Primary Components:
      - Loggers: developerGuide/primaryComponents/Loggers.md
      - Configuration Manager: developerGuide/primaryComponents/ConfigurationManager.md
      - Worker Ships:
        - Overview - Ship Schematics: developerGuide/primaryComponents/workerShips/Overview.md
        - Lambda Entrypoints: developerGuide/primaryComponents/workerShips/LambdaEntrypoints.md
        - CLI: developerGuide/primaryComponents/workerShips/CLI.md
        - Worker Ship Loader: developerGuide/primaryComponents/workerShips/Loader.md
      - Account Indexer: developerGuide/primaryComponents/AccountIndexer.md
      - Secrets Manager: developerGuide/primaryComponents/SecretsManager.md
      - Notifications: developerGuide/primaryComponents/Notifications.md
    - AWS SAM Configuration: developerGuide/SAMConfiguration.md
    - Check List: developerGuide/CheckList.md
    - Generating Documentation: developerGuide/GeneratingDocs.md
  - Extras:
    - Overview: Links.md
    - Attributions: Attributions.md
    - Code Reference: reference/
